.search-div {
  /* background-color: grey; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  margin-bottom: 20px;
}

.search-div p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-size: 3rem;
  height: 20%;
  /* border: 2px red solid; */
}

.search-div input {
  /* border: 2px blue solid; */
  width: 50%;
  height: 20%;
  background-color: rgb(235, 212, 215);
  box-shadow: 2px 2px 2px black;
  border-radius: 10px;
  text-align: center;
}

/* .search-top {
  width: 40%;
  height: 25%;
  display: flex;
  border: 2px red solid;
  justify-content: center;
} */

/* .search-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px orange solid;
  width: 40%;
  height: 30%;
} */

/* .search-bottom input {
  width: 100%;
  height: 100%;
  background-color: rgb(235, 212, 215);
  text-align: center;
} */

/* .icon {
  width: 20%;
  font-size: 3rem;
} */

h1 {
  font-size: 3rem;
  margin: 0 20px;
}

.line-div {
  display: flex;
  flex-direction: column;
  /* border: 2px red solid; */
  align-items: center;
}

.line {
  /* border: 2px blue solid; */
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin-bottom: 15px;
  width: 85%;
  background-color: rgb(250, 247, 247);
  border-radius: 5px;
}

.line:hover {
  background-color: rgb(235, 212, 215);
}

.line p {
  margin-right: 20px;
}

footer {
  height: 100px;
  /* background-color: gold; */
  display: flex;
  justify-content: center;
  align-items: center;
}
