.search-div {
  /* background-color: grey; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  margin-bottom: 20px;
}

.search-div p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-size: 3rem;
  height: 20%;
  /* border: 2px red solid; */
}

.search-div input {
  /* border: 2px blue solid; */
  width: 70%;
  height: 20%;
  background-color: rgb(235, 212, 215);
  box-shadow: 2px 2px 2px black;
  border-radius: 10px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 0 20px;
}

.line-div {
  display: flex;
  flex-direction: column;
  /* border: 2px red solid; */
  align-items: center;
}

.line {
  /* border: 2px blue solid; */
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 15px;
  width: 85%;
  background-color: rgb(250, 247, 247);
  border-radius: 5px;
}

.line p {
  margin-right: 20px;
}

footer {
  height: 100px;
  /* background-color: gold; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.click {
  opacity: 0;
}

.line:hover {
  background-color: rgb(235, 212, 215);
  cursor: pointer;
}

.line:hover span {
  opacity: 1;
}

.title-emoji {
  display: flex;
  justify-content: flex-start;
}
